<!DOCTYPE html>
<html>
    <head>
        <title> Networks </title>
        <style>
            @font-face{
                face: BROADW;
                font-family: 'custom1';
                src:url('E:\Visual Studio Code\Litec Project\f1.TTF') format('truetype');
            }
            body{
                font-family: 'custom1', BROADW
            }
            h1{
                text-align:center;
                color: #dc2290;
            }
        </style>
    </head>
<body>
    <h1> It's under construction </h1>
</body>
</html>